<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categories</title>
</head>
<body>
    {% include "templateInheritance.html" %}
    <h2>Select a Category</h2>

    <div>
        <h3>Meats</h3>
        <ul>
            <li>Beef</li>
            <li>Pork</li>
            <li>Chicken</li>
            <li>Lamb</li>
            <li>Turkey Breast</li>
            <li>Sausage</li>
        </ul>
    </div>

    <div>
        <h3>Fruits</h3>
        <ul>
            <li>Banana</li>
            <li>Apple</li>
            <li>Orange</li>
            <li>Mango</li>
            <li>Pineapple</li>
            <li>Grape</li>
        </ul>
    </div>

    <div>
        <h3>Vegetables</h3>
        <ul>
            <li>Carrot</li>
            <li>Potato</li>
            <li>Zucchini</li>
            <li>Broccoli</li>
            <li>Lettuce</li>
            <li>Spinach</li>
        </ul>
    </div>
</body>
</html>