<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<h1>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% include "templateInheritance.html" %}
    <h3>Here you will choose if you want to see your lists or go to the category page</h3>
    <br>


    {% for l in list  %}


    <P> {{l.id}} </P>
    <P> {{l.name}} </P>
    <P> {{l.category}} </P>


    {% endfor %}



    problema com a VENV no git. Restartar projeto.




<!--    
    {{ first_name }}


    {% if first_name == "roberto" %}
    <p>welcome</p>

    {% else %}
    <p>wrong name</p>

    {% endif %}
-->


</body>
</html>