<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lists</title>
</head>
<body>
    {% include "templateInheritance.html" %}
    <h2>Your lists</h2>

    <div>
        <h3>List 01</h3>
        <ul>
            <li>Beef</li>
            <li>Pork</li>
        </ul>
    </div>

    <div>
        <h3>List 02</h3>
        <ul>
            <li>Banana</li>
            <li>Apple</li>
        </ul>
    </div>

    <div>
        <h3>List 03</h3>
        <ul>
            <li>Carrot</li>
            <li>Potato</li>
        </ul>
    </div>
</body>
</html>